In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import make_pipeline

In [2]:
raw_data = pd.read_csv("./product_regression.csv", index_col = 0)
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1551 entries, 0 to 1550
Data columns (total 20 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   회사코드      1551 non-null   int64
 1   사업장코드     1551 non-null   int64
 2   생산일자      1551 non-null   object
 3   생산순번      1551 non-null   int64
 4   생산지시생성일자  1551 non-null   object
 5   생산지시순번    1551 non-null   int64
 6   생산진행순번    57 non-null     float64
 7   품목코드      1551 non-null   object
 8   target    1551 non-null   float64
 9   Line코드    1551 non-null   object
 10  실적작업장     1551 non-null   object
 11  표준ST      1551 non-null   float64
 12  작업상태      1551 non-null   int64
 13  작업시작일시    1551 non-null   object
 14  종료예상일시    0 non-null      float64
 15  작업종료일시    1551 non-null   object
 16  투입인원      1551 non-null   int64
 17  작업시간      1551 non-null   float64
 18  등록자ID     1551 non-null   int64
 19  등록시간      1551 non-null   object
dtypes: float64(5), int64(7), object(8)
memory usage: 254.5+ KB

In [3]:
df = raw_data.copy()
df.tail()

,회사코드,사업장코드,생산일자,생산순번,생산지시생성일자,생산지시순번,생산진행순번,품목코드,target,Line코드,실적작업장,표준ST,작업상태,작업시작일시,종료예상일시,작업종료일시,투입인원,작업시간,등록자ID,등록시간
1546,139,0,2021-04-21 00:00:00,41,2021-04-15 00:00:00,58,NaN,72312724118,88.0,L21,A22,0.836,3,2021-04-21 13:50:54.000,NaN,2021-04-21 15:25:09.383,1,95.0,117,2021-04-21 13:50:52.523
1547,139,0,2021-04-21 00:00:00,42,2021-04-02 00:00:00,31,NaN,38120028,74.0,L21,A21,6.930,3,2021-04-20 15:00:09.000,NaN,2021-04-21 15:38:31.933,1,1478.0,120,2021-04-20 15:00:07.090
1548,139,0,2021-04-21 00:00:00,43,2021-04-13 00:00:00,11,NaN,38020117,150.0,L21,A21,1.452,3,2021-04-21 14:21:47.000,NaN,2021-04-21 15:41:20.297,1,80.0,117,2021-04-21 14:21:37.520
1549,139,0,2021-04-21 00:00:00,44,2021-04-02 00:00:00,31,NaN,38120028,6.0,L21,A21,6.930,3,2021-04-21 15:40:32.000,NaN,2021-04-21 15:41:52.460,1,1.0,117,2021-04-21 15:38:31.937
1550,139,0,2021-04-21 00:00:00,48,2021-04-13 00:00:00,15,NaN,38040050,179.0,L21,A22,2.343,3,2021-04-21 11:58:41.000,NaN,2021-04-21 16:26:10.020,1,268.0,117,2021-04-21 11:58:31.517

In [4]:
# 데이터 unique 값 확인
for column in df.columns:
    print(column,": ", df[column].unique())
    print("")

회사코드 :  [139]

사업장코드 :  [0]

생산일자 :  ['2021-02-22 00:00:00' '2021-02-23 00:00:00' '2021-02-24 00:00:00'
 '2021-02-25 00:00:00' '2021-02-26 00:00:00' '2021-02-27 00:00:00'
 '2021-03-02 00:00:00' '2021-03-03 00:00:00' '2021-03-04 00:00:00'
 '2021-03-05 00:00:00' '2021-03-06 00:00:00' '2021-03-08 00:00:00'
 '2021-03-09 00:00:00' '2021-03-10 00:00:00' '2021-03-11 00:00:00'
 '2021-03-12 00:00:00' '2021-03-13 00:00:00' '2021-03-15 00:00:00'
 '2021-03-16 00:00:00' '2021-03-17 00:00:00' '2021-03-18 00:00:00'
 '2021-03-19 00:00:00' '2021-03-20 00:00:00' '2021-03-21 00:00:00'
 '2021-03-22 00:00:00' '2021-03-23 00:00:00' '2021-03-24 00:00:00'
 '2021-03-25 00:00:00' '2021-03-26 00:00:00' '2021-03-29 00:00:00'
 '2021-03-30 00:00:00' '2021-03-31 00:00:00' '2021-04-01 00:00:00'
 '2021-04-02 00:00:00' '2021-04-03 00:00:00' '2021-04-05 00:00:00'
 '2021-04-06 00:00:00' '2021-04-07 00:00:00' '2021-04-08 00:00:00'
 '2021-04-09 00:00:00' '2021-04-10 00:00:00' '2021-04-12 00:00:00'
 '2021-04-13 00:00:00' '2021-04-14 00:00:00' '2021-04-15 00:00:00'
 '2021-04-16 00:00:00' '2021-04-17 00:00:00' '2021-04-19 00:00:00'
 '2021-04-20 00:00:00' '2021-04-21 00:00:00']

생산순번 :  [ 9 11 14 15 17 19 20 21 22 24 25 26 27 28  3  4  5  8 13 18 29 30 32 33
 34 35 36 38 41 42 43 44 45 46 49 50 52 53 56 58 59 60 61 62 64  6  7 10
 23 37 39 40 47 48 51 63 65 67 68 69 71 72 73 74 75 76 78 81 82 84 12 16
 31 77 79 80 83 85 86 88 89 90 54 66 70  1  2 57 87 91 92 93 55]

생산지시생성일자 :  ['2021-02-20 00:00:00' '2021-02-23 00:00:00' '2021-02-22 00:00:00'
 '2021-02-24 00:00:00' '2021-02-25 00:00:00' '2021-03-02 00:00:00'
 '2021-02-26 00:00:00' '2021-03-03 00:00:00' '2021-03-05 00:00:00'
 '2021-03-04 00:00:00' '2021-03-06 00:00:00' '2021-03-08 00:00:00'
 '2021-03-09 00:00:00' '2021-03-11 00:00:00' '2021-03-10 00:00:00'
 '2021-03-12 00:00:00' '2021-03-15 00:00:00' '2021-03-16 00:00:00'
 '2021-03-17 00:00:00' '2021-03-18 00:00:00' '2021-03-19 00:00:00'
 '2021-03-22 00:00:00' '2021-03-23 00:00:00' '2021-03-24 00:00:00'
 '2021-03-25 00:00:00' '2021-03-26 00:00:00' '2021-03-29 00:00:00'
 '2021-03-30 00:00:00' '2021-03-31 00:00:00' '2021-04-01 00:00:00'
 '2021-04-02 00:00:00' '2021-04-05 00:00:00' '2021-04-06 00:00:00'
 '2021-04-07 00:00:00' '2021-04-09 00:00:00' '2021-04-08 00:00:00'
 '2021-04-12 00:00:00' '2021-04-13 00:00:00' '2021-04-14 00:00:00'
 '2021-04-19 00:00:00' '2021-04-15 00:00:00' '2021-04-16 00:00:00'
 '2021-04-20 00:00:00' '2021-04-21 00:00:00']

생산지시순번 :  [ 55  68  59  54  44  69  70  76  71  72  66  58  92  51  96  34  60  53
  93  85  73  75  89  42 113 114 115 110 111 112 108 109 143  98  97  95
 140  99 183 100  78  80  61  79  62  77 117 141  27  38 142 118  81  57
 131 123  37  87  88  90 101  45 119  56  48  46  47 138 184  94 137 134
  40 136 135 139 132  82 104  86  39 173 172 166 133 174 162 126 120 175
  35  25  19 181 128 124 125 130  23 180  74 122 176 170  41 179  83 177
 178  22   7  21  24 127  84 182 121 146 145 144 171 105 167 116  36 106
 107 168 151  10 152  26   8  29  28 169 158 160 161 153  63  64 154 159
 147  13 155 156 148 149 150 157 129  11  30  65   6  18  43  20  12  33
  49   2  31  50   9   5  14   4   3  17  16  52  32  91  15 164 165  67
 102 103 163   1]

생산진행순번 :  [nan  0.]

품목코드 :  ['74372124001' '72313460304' '72311176262' '72311176261' '38020088'
 '72313460305' '72313460324' '72313460327' '72313460328' '72313471306'
 '38060134' '72312724118' '38020082' '99313460672' '72312724117'
 '72312724126' '38060132' '72311176264' '72313466301' '73263466359'
 '73263466360' '73263466356' '38080008' '38080010' '38080012' '38060172'
 '38060173' '38060174' '3806013200' '38060133' '38020038' '38020039'
 '38020084' '38020123' '37060012' '37060011' '72313460348' '72313460302'
 '72312724127' '74372124002' '38040051' '38020118' '72311176301'
 '38020117' '38040050' '72313460301' '37020023' '3808001000' '38060054'
 '38060055' '73261176006' '73263466363' '38040028' '37020022' '37020024'
 '37020030' '37020032' '38040019' '38040003' '38040020' '38040027'
 '38040023' '38040024' '38040007' '38080011' '72313460030' '72313460312'
 '72313460325' '38020044' '38020045' '3808001100' '38020043' '3806013400'
 '3806013238' '38020013' '3806013438' '38060077' '38060078' '38060182'
 '72313460690' '38020014' '73263460100' '38040004' '38020033'
 '64622713311' '38020025' '72312724120' '38020031' '38020026'
 '72313460391' '38020007' '38020086' '38020083' '38020085' '38020081'
 '38050008' '38120020' '38120022' '38050004' '38060060' '38060062'
 '38020111' '38020112' '73261176003' '72313460723' '72313460724'
 '72313460727' '3805000438' '38060061' '38060059' '38020097' '38040054'
 '38060143' '37060007' '72313460209' '72313460689' '72313471310'
 '72313471308' '72313173611' '72313460306' '73261176004' '73261176005'
 '73263466366' '72313460308' '38020087' '72313466506' '38040056'
 '38020009' '38020008' '38060079' '38060141' '38020015' '72313460392'
 '3806017400' '38050005' '72313460329' '72313460208' '73263460106'
 '3806017300' '72313460728' '38050003' '38060167' '3812003100' '38120032'
 '38040052' '3808001300' '3802008731' '38060080' '72313460313'
 '72313460314' '72313460341' '72313460358' '72313471305' '38060158'
 '72313460091' '38060073' '3805000601' '39310537' '39310548' '39310549'
 '3802008800' '39310308' '37130003' '38020124' '3802005501' '72313460335'
 '3802003200' '3802005401' '3802008700' '72313460095' '3804003301'
 '37060013' '72313173613' '38060056' '3806008200' '38020116' '38060082'
 '72313460092' '72313460350' '38060074' '3806007400' '38060081'
 '73263460104' '72313460094' '38040008' '3805000500' '3805000331'
 '72313460347' '38060166' '72313460410' '72313460337' '39310320'
 '39310351' '3806008100' '39410001' '38060157' '72313460093' '38060122'
 '380400249M' '38120034' '380200139M' '72313460729' '72313460722'
 '3812003200' '39410012' '3802008100' '72313471304' '64622713312'
 '38040049' '38080014' '38080015' '38080019' '38080018' '3808001200'
 '38080013' '37020029' '38060130' '38040058' '38120026' '73263466355'
 '3802001500' '38080009' '3806013300' '38020114' '38020096' '3806005500'
 '38020080' '38060131' '73263466365' '380800099M' '76421173123'
 '76421173112' '76421174127' '76421174107' '76421173124' '380400209M'
 '380200279M' '38060098' '3806014300' '38060142' '37020028' '3806017200'
 '73261176002' '38120024' '79012612151' '37130001' '76421172143'
 '76421172145' '76421172113' '76421172174' '76421172176' '72313460709'
 '72313460726' '380500049M' '38060156' '37060024' '39310315' '39310319'
 '380200089M' '39310317' '38020032' '37060016' '77123460501' '77123466501'
 '72313460710' '72313460060' '3808000900' '380601349M' '38020027'
 '3812003400' '38120030' '38060168' '72311176322' '3802011800' '39310314'
 '3802003935' '38020106' '38020105' '3804005031' '38020104' '38060153'
 '38060120' '39310395' '3802008501' '3802004900' '39310323' '39310322'
 '39310328' '72313460307' '3804005600' '3802012400' '380800139M'
 '38040053' '72313460318' '72313460351' '38020122' '39310311'
 '72313460500' '380800119M' '39310329' '3804005400' '3802008500'
 '72313460041' '38060176' '38040016' '380500039M' '38060175' '37020021'
 '37020027' '72313460310' '38120028']

target :  [3.650e+02 2.000e+01 3.000e+00 7.600e+01 3.000e+02 2.000e+00 3.410e+02
 4.000e+00 1.000e+00 7.200e+01 1.500e+02 8.900e+01 3.000e+01 6.000e+00
 1.900e+01 1.000e+01 6.000e+01 5.000e+02 8.000e+00 1.200e+02 5.000e+00
 1.000e+02 1.100e+01 8.200e+01 9.000e+00 2.400e+02 1.800e+02 3.900e+01
 6.400e+02 1.400e+01 4.000e+01 3.570e+02 1.469e+03 4.230e+02 4.400e+01
 2.610e+02 1.500e+01 2.900e+01 1.600e+01 2.100e+01 6.900e+01 2.700e+01
 4.800e+01 3.500e+01 9.000e+01 1.200e+01 7.000e+01 7.000e+00 8.100e+01
 2.800e+01 8.800e+02 2.110e+02 5.700e+01 2.000e+02 2.400e+01 2.100e+02
 4.000e+02 3.400e+02 5.000e+01 2.600e+01 3.600e+01 3.600e+02 1.700e+01
 3.190e+02 2.200e+01 6.100e+01 8.000e+01 1.300e+01 4.700e+01 2.900e+02
 9.800e+01 3.310e+02 9.500e+01 3.800e+01 2.600e+02 6.200e+01 1.600e+02
 2.500e+01 4.300e+01 6.300e+01 6.480e+02 7.040e+02 6.800e+01 3.300e+02
 4.600e+01 8.960e+02 3.100e+01 3.330e+02 9.200e+01 7.400e+01 4.500e+02
 8.400e+01 4.900e+01 3.460e+02 3.400e+01 5.800e+01 3.300e+01 3.060e+02
 7.700e+01 7.200e+02 5.300e+01 6.700e+01 3.040e+02 2.300e+01 1.810e+02
 5.400e+01 8.500e+01 7.800e+01 3.210e+02 2.930e+02 1.560e+02 6.400e+01
 1.340e+02 4.200e+01 5.600e+01 3.280e+02 3.390e+02 3.900e+02 6.000e+02
 1.520e+02 1.960e+02 9.300e+01 6.600e+01 3.260e+02 4.120e+02 4.100e+01
 1.170e+02 2.200e+02 3.490e+02 8.700e+01 1.800e+01 1.600e+03 3.440e+02
 1.090e+02 2.720e+02 7.500e+01 1.100e+02 3.470e+02 7.300e+01 3.500e+02
 5.100e+01 1.000e+03 8.800e+01 5.900e+01 2.980e+02 2.390e+02 1.190e+02
 6.710e+02 3.520e+02 5.300e+02 9.600e+01 2.700e+02 9.700e+01 1.570e+02
 7.900e+01 3.200e+01 2.290e+02 6.500e+01 3.580e+02 2.380e+02 3.590e+02
 3.610e+02 1.490e+02 1.070e+02 3.910e+02 3.720e+02 5.200e+01 2.090e+02
 1.790e+02 1.480e+02 3.320e+02 4.800e+02]

Line코드 :  ['L21']

실적작업장 :  ['A11' 'A23' 'A22' 'A21' 'A24' 'A12']

표준ST :  [ 0.33    7.26    1.43    1.32    0.66    0.187   0.168   4.4     2.002
  3.19    3.399   6.534   2.11    3.3     1.802   0.594   1.287   0.297
  1.188   1.899   2.97    3.96    2.277   4.185  27.819   1.133   2.871
  1.8018  3.059   0.1683  0.743   7.986   3.0591 11.143   6.93    2.343
  1.119   2.088  17.226   1.452   7.04    2.552   3.509   3.883   1.98
  2.233   0.836   5.412   1.1187  2.202 ]

작업상태 :  [3]

작업시작일시 :  ['2021-02-22 15:36:18.000' '2021-02-22 16:05:09.000'
 '2021-02-22 16:18:19.000' ... '2021-04-21 14:21:47.000'
 '2021-04-21 15:40:32.000' '2021-04-21 11:58:41.000']

종료예상일시 :  [nan]

작업종료일시 :  ['2021-02-22 15:44:06.307' '2021-02-22 16:08:17.223'
 '2021-02-22 16:18:38.803' ... '2021-04-21 15:41:20.297'
 '2021-04-21 15:41:52.460' '2021-04-21 16:26:10.020']

투입인원 :  [3 2 1]

작업시간 :  [8.000000e+00 3.000000e+00 0.000000e+00 1.000000e+00 4.200000e+01
 5.000000e+00 1.700000e+01 9.850000e+02 6.800000e+01 4.000000e+00
 1.460000e+02 1.400000e+01 1.600000e+01 1.100000e+02 2.080000e+02
 1.730000e+02 1.710000e+02 1.610000e+02 1.790000e+02 8.800000e+01
 1.240000e+03 8.600000e+01 9.300000e+01 2.390000e+02 1.780000e+02
 7.000000e+00 9.200000e+01 9.400000e+01 2.800000e+01 1.200000e+01
 1.700000e+02 1.600000e+02 2.140000e+02 1.450000e+02 1.530000e+02
 1.300000e+01 9.890000e+02 1.900000e+01 1.000000e+01 1.328000e+03
 7.700000e+01 4.600000e+01 4.300000e+01 3.700000e+01 2.020000e+02
 5.200000e+01 3.500000e+01 1.800000e+01 1.690000e+02 3.400000e+01
 2.814000e+03 1.390000e+03 2.370000e+02 1.100000e+01 1.390000e+02
 3.120000e+02 2.200000e+01 9.500000e+01 3.430000e+02 2.300000e+01
 3.600000e+01 4.000000e+01 8.000000e+01 1.303000e+03 1.045000e+03
 9.840000e+02 6.000000e+00 1.355000e+03 1.498000e+03 3.900000e+01
 2.700000e+01 1.020000e+02 6.400000e+01 1.125000e+03 1.240000e+02
 2.400000e+01 4.400000e+01 9.700000e+01 7.000000e+01 3.100000e+01
 1.310000e+02 1.500000e+01 6.600000e+01 2.000000e+00 2.210000e+02
 4.800000e+01 6.000000e+01 2.000000e+01 2.160000e+02 1.350000e+02
 1.561000e+03 1.140000e+02 1.104000e+03 9.980000e+02 1.021000e+03
 8.200000e+01 8.100000e+01 1.400000e+02 3.300000e+01 7.800000e+01
 1.787000e+03 2.280000e+02 1.320000e+02 1.804000e+03 4.900000e+01
 5.300000e+01 5.100000e+01 1.010000e+02 1.300000e+02 1.210000e+03
 1.324000e+03 4.700000e+01 2.200000e+02 2.170000e+02 2.900000e+01
 5.726000e+03 7.100000e+01 5.408000e+03 5.800000e+01 9.000000e+00
 1.200000e+02 5.500000e+01 5.600000e+01 1.210000e+02 1.340000e+02
 1.270000e+02 1.380000e+02 7.900000e+01 1.940000e+02 2.410000e+02
 1.086000e+03 1.230000e+03 1.060000e+02 9.600000e+01 1.401000e+03
 1.700000e+03 1.870000e+02 1.261000e+03 8.400000e+01 3.000000e+01
 6.700000e+01 1.570000e+02 2.500000e+02 2.270000e+02 3.570000e+02
 1.107000e+03 1.111000e+03 8.360000e+02 9.460000e+02 1.433000e+03
 6.900000e+01 2.220000e+02 1.110000e+03 1.287000e+03 8.500000e+01
 7.300000e+01 1.438000e+03 1.439000e+03 1.296000e+03 1.220000e+02
 1.398000e+03 1.190000e+02 2.290000e+02 1.280000e+02 1.880000e+02
 2.120000e+02 6.500000e+01 2.397000e+03 4.186000e+03 6.766000e+03
 2.683000e+03 1.399300e+04 4.251000e+03 4.185000e+03 4.051000e+03
 2.100000e+02 1.630000e+02 2.510000e+02 4.910000e+02 4.346000e+03
 9.830000e+02 1.078000e+03 1.169000e+03 5.476000e+03 1.142000e+03
 2.100000e+01 5.829000e+03 5.894000e+03 1.490000e+02 1.307000e+03
 1.030000e+02 7.400000e+01 7.500000e+01 1.640000e+02 1.750000e+02
 9.410000e+02 2.503000e+03 2.517000e+03 1.225000e+03 1.181000e+03
 1.356000e+03 1.128000e+03 1.680000e+02 1.660000e+02 1.500000e+02
 2.959000e+03 2.110000e+02 3.090000e+02 5.400000e+01 5.090000e+02
 2.820000e+02 1.064000e+03 1.090000e+02 2.090000e+02 1.458000e+03
 9.947000e+03 2.500000e+01 2.770000e+02 3.800000e+01 1.760000e+02
 4.500000e+01 1.180000e+02 1.670000e+02 1.011000e+03 3.310000e+02
 9.800000e+01 1.000000e+02 4.230000e+02 1.580000e+02 3.200000e+01
 2.600000e+01 1.160000e+02 9.100000e+01 2.637000e+03 1.170000e+02
 1.560000e+02 1.230000e+02 1.130000e+02 1.430000e+02 2.430000e+02
 9.000000e+01 1.260000e+02 6.300000e+01 5.879000e+03 1.510000e+02
 1.141000e+03 4.043000e+03 1.222000e+03 1.850000e+02 1.241000e+03
 1.620000e+02 1.120000e+02 1.770000e+02 1.050000e+02 1.052000e+03
 6.200000e+01 2.250000e+02 2.700000e+02 1.089000e+03 1.080000e+02
 3.010000e+02 8.900000e+01 1.250000e+02 2.180000e+02 4.510000e+02
 7.200000e+01 2.603000e+03 1.810000e+02 5.000000e+01 1.910000e+02
 1.920000e+02 2.490000e+02 1.462000e+03 2.540000e+02 2.868000e+03
 4.027000e+03 2.040000e+02 1.830000e+02 2.847000e+03 2.400000e+02
 2.660000e+02 2.550000e+02 2.320000e+02 1.590000e+02 3.530000e+02
 5.700000e+01 1.201000e+03 1.269000e+03 3.040000e+02 1.540000e+02
 6.100000e+01 2.645000e+03 2.737000e+03 1.143000e+03 1.110000e+02
 1.740000e+02 2.560000e+02 1.720000e+02 2.600000e+02 1.049000e+03
 1.247000e+03 1.480000e+02 1.370000e+02 1.440000e+02 1.520000e+02
 1.550000e+02 1.444000e+03 1.470000e+02 1.219000e+03 3.086000e+03
 1.517000e+03 3.060000e+02 2.944000e+03 1.410000e+02 1.330000e+02
 4.980000e+02 3.831000e+03 1.040000e+02 3.963000e+03 3.230000e+02
 9.620000e+02 9.660000e+02 1.486000e+03 5.814000e+03 5.413000e+03
 5.566000e+03 1.168000e+03 2.150000e+02 2.680000e+02 5.757000e+03
 1.036000e+03 1.070000e+03 2.658000e+03 1.576000e+03 2.780000e+02
 2.340000e+02 1.310000e+03 3.870000e+02 2.580000e+02 4.140000e+02
 5.900000e+01 1.149000e+03 2.840000e+02 3.370000e+02 3.859000e+03
 9.860000e+02 1.349000e+03 1.038000e+03 1.196000e+03 3.080000e+02
 2.000000e+02 1.650000e+02 1.860000e+02 3.610000e+02 2.972000e+03
 4.163000e+03 4.237000e+03 7.437000e+03 2.883000e+03 1.950000e+02
 7.600000e+01 4.709000e+03 4.422000e+03 1.047000e+03 1.158000e+03
 1.290000e+02 2.590000e+02 9.900000e+01 2.670000e+02 1.399000e+03
 1.135000e+03 1.151000e+03 2.913000e+03 1.256000e+03 1.132000e+03
 8.700000e+01 2.952000e+03 2.840000e+03 2.839000e+03 3.058000e+03
 5.692000e+03 5.688000e+03 2.720000e+02 1.009000e+03 1.259000e+03
 1.248000e+03 1.591000e+03 1.590000e+03 1.500000e+03 2.010000e+02
 4.351000e+03 4.940000e+02 3.450000e+02 9.690000e+02 8.670000e+02
 1.446000e+03 1.525000e+03 1.226000e+03 1.970000e+02 3.882000e+03
 3.878000e+03 4.010000e+03 4.394000e+03 4.144000e+03 3.135000e+03
 1.990000e+02 1.189000e+03 1.308000e+03 1.323000e+03 2.520000e+02
 3.600000e+02 4.100000e+01 1.344000e+03 9.230000e+02 2.595000e+03
 1.070000e+02 3.020000e+02 5.300000e+02 8.500000e+02 9.010000e+02
 1.051000e+03 1.137000e+03 1.360000e+02 1.543000e+03 1.453000e+03
 1.413000e+03 1.347000e+03 2.130000e+02 1.176000e+03 1.060258e+03
 8.300000e+01 1.890000e+02 1.055000e+03 4.142000e+03 4.072000e+03
 4.151000e+03 6.997000e+03 7.001000e+03 2.896000e+03 3.110000e+02
 1.079000e+03 1.075000e+03 4.308000e+03 2.860000e+02 2.640000e+02
 2.460000e+02 1.820000e+02 3.330000e+02 9.720000e+02 9.710000e+02
 8.750000e+02 3.171000e+03 1.478000e+03]

등록자ID :  [117 120 121]

등록시간 :  ['2021-02-22 15:36:03.970' '2021-02-22 16:04:55.513'
 '2021-02-22 16:18:04.767' ... '2021-04-21 14:21:37.520'
 '2021-04-21 15:38:31.937' '2021-04-21 11:58:31.517']

In [5]:
# 전처리
# 등록자ID, 등록시간 : 생산실적 예측에 영향을 미치지 않을 컬럼이므로 제거
# Line코드 : L21 작업라인에 대한 데이터만 불러왔으므로 제거
# 회사코드, 사업장코드, 작업상태 : 모두 같은 값이므로 제거
# 생산진행순번 : 결측치 다수 이므로 제거
# 종료예상일시 : 값이 모두 결측치
# 작업시작일시 - 작업종료일시 = 작업시간 : 작업시작일시, 작업종료일시 제거
# 표준 ST(Standard Time) : 작업시간 기준에 대한 명시이므로 제거
# 생산일자 = 작업종료일시 일자 : 제거
# 품목코드 : Regression 모델 적용을 위한 Encoding이 필요하나 생략
df_drop_columns = df.drop(['등록자ID','등록시간','Line코드','회사코드','사업장코드',
                           '작업상태','생산진행순번','종료예상일시','작업시작일시',
                           '작업종료일시','표준ST','생산일자','생산지시생성일자',
                           '품목코드'],axis=1)
df_drop_columns.head()

   생산순번  생산지시순번  target 실적작업장  투입인원  작업시간
0     9      55   365.0   A11     3   8.0
1    11      68    20.0   A23     2   3.0
2    14      59     3.0   A23     2   0.0
3    15      54    76.0   A23     2   0.0
4    17      44   300.0   A22     1   1.0

In [6]:
df_drop_columns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1551 entries, 0 to 1550
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   생산순번    1551 non-null   int64
 1   생산지시순번  1551 non-null   int64
 2   target  1551 non-null   float64
 3   실적작업장   1551 non-null   object
 4   투입인원    1551 non-null   int64
 5   작업시간    1551 non-null   float64
dtypes: float64(2), int64(3), object(1)
memory usage: 84.8+ KB

In [7]:
# 작업시간 0인 row 제거
df_drop_columns = df_drop_columns.query('작업시간!=0')
df_drop_columns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1272 entries, 0 to 1550
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   생산순번    1272 non-null   int64
 1   생산지시순번  1272 non-null   int64
 2   target  1272 non-null   float64
 3   실적작업장   1272 non-null   object
 4   투입인원    1272 non-null   int64
 5   작업시간    1272 non-null   float64
dtypes: float64(2), int64(3), object(1)
memory usage: 69.6+ KB

In [8]:
# feature engineering
# 작업시작일시 - 생산지시일지 : 생산대기시간
df["작업시작일시"] = pd.to_datetime(df["작업시작일시"])
df["생산지시생성일자"] = pd.to_datetime(df["생산지시생성일자"])
df_drop_columns['생산대기일수'] = df["작업시작일시"].dt.date - df["생산지시생성일자"].dt.date
df_added = df_drop_columns.copy()
del df_drop_columns
df_added.head()

   생산순번  생산지시순번  target 실적작업장  투입인원  작업시간 생산대기일수
0     9      55   365.0   A11     3   8.0 2 days
1    11      68    20.0   A23     2   3.0 2 days
4    17      44   300.0   A22     1   1.0 2 days
5    17      44   300.0   A22     1   1.0 2 days
6    19      69     3.0   A23     2   3.0 2 days

In [9]:
df_added.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1272 entries, 0 to 1550
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   생산순번    1272 non-null   int64
 1   생산지시순번  1272 non-null   int64
 2   target  1272 non-null   float64
 3   실적작업장   1272 non-null   object
 4   투입인원    1272 non-null   int64
 5   작업시간    1272 non-null   float64
 6   생산대기일수  1272 non-null   timedelta64[ns]
dtypes: float64(2), int64(3), object(1), timedelta64[ns](1)
memory usage: 79.5+ KB

In [10]:
df_added.head()

   생산순번  생산지시순번  target 실적작업장  투입인원  작업시간 생산대기일수
0     9      55   365.0   A11     3   8.0 2 days
1    11      68    20.0   A23     2   3.0 2 days
4    17      44   300.0   A22     1   1.0 2 days
5    17      44   300.0   A22     1   1.0 2 days
6    19      69     3.0   A23     2   3.0 2 days

In [11]:
df_added['실적작업장'].unique()

array(['A11', 'A23', 'A22', 'A21', 'A24'], dtype=object)

In [12]:
# 실적작업장 One-Hot Encoding
df_encoded = pd.get_dummies(df_added, columns=['실적작업장'])
df_encoded.head()

,생산순번,생산지시순번,target,투입인원,작업시간,생산대기일수,실적작업장_A11,실적작업장_A21,실적작업장_A22,실적작업장_A23,실적작업장_A24
0,9,55,365.0,3,8.0,2 days,1,0,0,0,0
1,11,68,20.0,2,3.0,2 days,0,0,0,1,0
4,17,44,300.0,1,1.0,2 days,0,0,1,0,0
5,17,44,300.0,1,1.0,2 days,0,0,1,0,0
6,19,69,3.0,2,3.0,2 days,0,0,0,1,0

In [13]:
feature_columns = ['생산순번','생산지시순번','투입인원','작업시간','생산대기일수',
                   '실적작업장_A11','실적작업장_A21','실적작업장_A22','실적작업장_A23','실적작업장_A24']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(df_encoded[feature_columns], df_encoded['target'], test_size=0.2, random_state=2021)

In [15]:
# Scaling
std_scaler = preprocessing.StandardScaler()

# Try using .loc[row_indexer,col_indexer] = value instead
for feature in feature_columns:
    std_scaler.fit(X_train[[feature]])
    X_train_scaled = std_scaler.transform(X_train[[feature]])
    X_train[[feature]] = X_train_scaled
    
    X_test_scaled = std_scaler.transform(X_test[[feature]])
    X_test[[feature]] = X_test_scaled

### 선형회귀

In [16]:
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)
pred_lr = lr_model.predict(X_test)
mean_squared_error(y_test, pred_lr)

12320.841260676269

In [17]:
ridge_model = Ridge(alpha=10.0, random_state=2021) # alpha : Regularization 정도
ridge_model.fit(X_train, y_train)
pred_ridge = ridge_model.predict(X_test)
mean_squared_error(y_test, pred_ridge)

12316.551319362692

In [18]:
lasso_model = Lasso(alpha=10.0, random_state=2021)
lasso_model.fit(X_train, y_train)
pred_lasso = lasso_model.predict(X_test)
mean_squared_error(y_test, pred_lasso)

12600.357005145343

In [19]:
enet_model = ElasticNet(alpha=1, l1_ratio=0.8)
enet_model.fit(X_train, y_train)
pred_enet = enet_model.predict(X_test)
mean_squared_error(y_test, pred_enet)

12303.283249555318

### 다항회귀

In [20]:
poly_model = make_pipeline(preprocessing.PolynomialFeatures(2), Ridge())
#poly_model = make_pipeline(preprocessing.PolynomialFeatures(2), Lasso())
poly_model.fit(X_train, y_train)
pred_poly_model = poly_model.predict(X_test)
mean_squared_error(y_test, pred_poly_model)

11312.430174865618

### SVR

In [21]:
svr_rbf = SVR(kernel='rbf', C=100, gamma='auto', epsilon=0.1)
# C : 정규화 매개변수, 정규화 강도화 반비례
# gamma : kernel 계수
svr_rbf.fit(X_train, y_train)
pred_svr_rbf = svr_rbf.predict(X_test)
mean_squared_error(y_test, pred_svr_rbf)

12284.51994508744

In [22]:
svr_lin = SVR(kernel='linear', C=100, gamma='auto')
svr_lin.fit(X_train, y_train)
pred_svr_lin = svr_lin.predict(X_test)
mean_squared_error(y_test, pred_svr_lin)

15063.440147536914

In [23]:
svr_poly = SVR(kernel='poly', C=100, gamma='auto', degree=2, epsilon=0.1, coef0=1)
svr_poly.fit(X_train, y_train)
pred_svr_poly = svr_poly.predict(X_test)
mean_squared_error(y_test, pred_svr_poly)

11519.053339027474

## 보완점
- 전처리 과정에서 많은 컬럼들이 제거되어 생산실적 예측에 필요한 feature들 개수가 현저히 적어짐
    - 다른 테이블과의 join을 통해 생산실적 예측 학습에 쓰일만한 feature에 대한 추가적인 분석이 필요
- 품목코드의 경우 One-Hot Encoding을 하기엔 수가 많고 Label Encoding을 하기엔 회귀 모델에 영향을 줄 것 같아 제거
    - 품목별로 충분한 양의 row개수가 확보된다면 전체 라인에서 생산하는 실적량 예측이 아닌 특정 품목에 대한 예측을 수행하는 것이 오차를 줄일 수 있는 방법이라 생각됨

In [25]:
len(df['품목코드'].unique())

311

In [24]:
# 품목별 row 개수
for code in df['품목코드'].unique():
    print(code, ": ", len(df.query('품목코드=="{0}"'.format(code))))

74372124001 :  46
72313460304 :  52
72311176262 :  10
72311176261 :  52
38020088 :  16
72313460305 :  13
72313460324 :  14
72313460327 :  17
72313460328 :  2
72313471306 :  1
38060134 :  17
72312724118 :  46
38020082 :  9
99313460672 :  12
72312724117 :  7
72312724126 :  8
38060132 :  13
72311176264 :  16
72313466301 :  35
73263466359 :  20
73263466360 :  5
73263466356 :  1
38080008 :  4
38080010 :  13
38080012 :  5
38060172 :  2
38060173 :  3
38060174 :  2
3806013200 :  1
38060133 :  17
38020038 :  4
38020039 :  6
38020084 :  10
38020123 :  17
37060012 :  7
37060011 :  7
72313460348 :  7
72313460302 :  21
72312724127 :  4
74372124002 :  3
38040051 :  1
38020118 :  21
72311176301 :  20
38020117 :  21
38040050 :  13
72313460301 :  48
37020023 :  2
3808001000 :  15
38060054 :  11
38060055 :  9
73261176006 :  6
73263466363 :  19
38040028 :  7
37020022 :  8
37020024 :  3
37020030 :  3
37020032 :  3
38040019 :  1
38040003 :  3
38040020 :  9
38040027 :  1
38040023 :  1
38040024 :  6
38040007 :  1
38080011 :  13
72313460030 :  11
72313460312 :  5
72313460325 :  15
38020044 :  2
38020045 :  5
3808001100 :  8
38020043 :  1
3806013400 :  2
3806013238 :  3
38020013 :  2
3806013438 :  2
38060077 :  9
38060078 :  8
38060182 :  4
72313460690 :  5
38020014 :  8
73263460100 :  1
38040004 :  8
38020033 :  5
64622713311 :  30
38020025 :  2
72312724120 :  19
38020031 :  2
38020026 :  1
72313460391 :  15
38020007 :  2
38020086 :  5
38020083 :  1
38020085 :  7
38020081 :  10
38050008 :  1
38120020 :  3
38120022 :  5
38050004 :  7
38060060 :  2
38060062 :  3
38020111 :  2
38020112 :  1
73261176003 :  6
72313460723 :  1
72313460724 :  2
72313460727 :  5
3805000438 :  1
38060061 :  15
38060059 :  9
38020097 :  1
38040054 :  3
38060143 :  6
37060007 :  1
72313460209 :  2
72313460689 :  1
72313471310 :  1
72313471308 :  2
72313173611 :  1
72313460306 :  14
73261176004 :  13
73261176005 :  4
73263466366 :  2
72313460308 :  1
38020087 :  16
72313466506 :  1
38040056 :  8
38020009 :  6
38020008 :  5
38060079 :  2
38060141 :  6
38020015 :  7
72313460392 :  3
3806017400 :  1
38050005 :  4
72313460329 :  2
72313460208 :  9
73263460106 :  4
3806017300 :  1
72313460728 :  2
38050003 :  6
38060167 :  6
3812003100 :  1
38120032 :  4
38040052 :  6
3808001300 :  3
3802008731 :  1
38060080 :  3
72313460313 :  2
72313460314 :  1
72313460341 :  1
72313460358 :  3
72313471305 :  2
38060158 :  1
72313460091 :  3
38060073 :  9
3805000601 :  2
39310537 :  1
39310548 :  1
39310549 :  1
3802008800 :  3
39310308 :  9
37130003 :  3
38020124 :  18
3802005501 :  1
72313460335 :  2
3802003200 :  1
3802005401 :  4
3802008700 :  2
72313460095 :  2
3804003301 :  1
37060013 :  2
72313173613 :  1
38060056 :  3
3806008200 :  2
38020116 :  7
38060082 :  4
72313460092 :  2
72313460350 :  1
38060074 :  7
3806007400 :  3
38060081 :  2
73263460104 :  2
72313460094 :  2
38040008 :  3
3805000500 :  1
3805000331 :  1
72313460347 :  4
38060166 :  4
72313460410 :  3
72313460337 :  2
39310320 :  4
39310351 :  1
3806008100 :  1
39410001 :  1
38060157 :  4
72313460093 :  3
38060122 :  1
380400249M :  1
38120034 :  4
380200139M :  1
72313460729 :  2
72313460722 :  3
3812003200 :  1
39410012 :  1
3802008100 :  2
72313471304 :  6
64622713312 :  5
38040049 :  5
38080014 :  3
38080015 :  1
38080019 :  1
38080018 :  2
3808001200 :  3
38080013 :  4
37020029 :  4
38060130 :  5
38040058 :  3
38120026 :  2
73263466355 :  4
3802001500 :  1
38080009 :  7
3806013300 :  1
38020114 :  1
38020096 :  1
3806005500 :  1
38020080 :  5
38060131 :  4
73263466365 :  1
380800099M :  1
76421173123 :  1
76421173112 :  1
76421174127 :  1
76421174107 :  1
76421173124 :  2
380400209M :  1
380200279M :  1
38060098 :  1
3806014300 :  1
38060142 :  4
37020028 :  1
3806017200 :  1
73261176002 :  1
38120024 :  6
79012612151 :  1
37130001 :  1
76421172143 :  1
76421172145 :  1
76421172113 :  1
76421172174 :  1
76421172176 :  1
72313460709 :  1
72313460726 :  1
380500049M :  2
38060156 :  1
37060024 :  1
39310315 :  1
39310319 :  1
380200089M :  1
39310317 :  3
38020032 :  2
37060016 :  4
77123460501 :  1
77123466501 :  1
72313460710 :  1
72313460060 :  1
3808000900 :  3
380601349M :  1
38020027 :  1
3812003400 :  1
38120030 :  2
38060168 :  1
72311176322 :  1
3802011800 :  1
39310314 :  4
3802003935 :  1
38020106 :  2
38020105 :  2
3804005031 :  2
38020104 :  1
38060153 :  1
38060120 :  1
39310395 :  1
3802008501 :  1
3802004900 :  1
39310323 :  1
39310322 :  2
39310328 :  2
72313460307 :  1
3804005600 :  1
3802012400 :  1
380800139M :  1
38040053 :  1
72313460318 :  1
72313460351 :  1
38020122 :  1
39310311 :  1
72313460500 :  1
380800119M :  1
39310329 :  2
3804005400 :  1
3802008500 :  1
72313460041 :  2
38060176 :  1
38040016 :  1
380500039M :  1
38060175 :  1
37020021 :  1
37020027 :  1
72313460310 :  1
38120028 :  2